* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #ffffff;
}

input {
    border: 2px solid rgb(230, 80, 25);
    border-radius: 5px;
    height: 35px;
}
input::-webkit-input-placeholder {
  color: black;
}

button {
    background-color: #ffffff;
    border: 2px solid rgb(230, 80, 25);
    border-radius: 5px;
}

select {
    border: 2px solid rgb(230, 80, 25);
    border-radius: 5px;
}

#all {
    display: flex;
    direction: row;

}

#cover_image {
    width: 100%;
    height: 20vh;
    object-fit: cover;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}
#all {
    display: flex;
    
    width: 100%;
    max-width: 1400px;


}
#new_task_field {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    place-items: center;
    width: 25%;
    gap: 20px;
    position: absolute;
    border: 1px solid rgb(230, 80, 25);
    border-radius: 10px;
    padding: 20px;
}

#regular_settings, #once_settings {
    display: flex;
    gap: 20px;
    flex-direction: column;
}
#day_interval_field{
    display: flex;
    width: 20vw;
    flex-direction: column;
}
#day_switch_field {
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: center;
    margin: 10px;
    gap: 10px;

}
#tasks_field {
  display: flex;
  position: absolute;
  left: 28vw;
  width: 44vw;
  flex-direction: column;
}
#additionally_field {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    border: 1px solid rgb(230, 80, 25);
    border-radius: 10px;
    width: 25%;
    max-width: 380px;
    padding: 20px;
    gap: 10px;

}

.date-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    border-color: rgb(230, 80, 25);
    border-style: solid;
    color: rgb(0, 0, 0);
}
.choosed_date_btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(230, 80, 25);
    border-style: solid;
    border-color: rgb(230, 80, 25);
}

.type_btn {
    width: 10vw;
    height: 6vh;
    margin: 5px;
}
.choosed_type_btn {
    width: 10vw;
    height: 6vh;
    margin: 5px;
    background-color: rgb(230, 80, 25);
}
.priority_btn {
    width: 6vw;
    height: 6vh;
}
.choosed_priority_btn {
    width: 6vw;
    height: 6vh;
    background-color: rgb(230, 80, 25);
}

.day_interval_btn {
    width: 10vw;
    height: 3vh;
    margin: 5px;
}
.choosed_day_interval_btn {
    width: 10vw;
    height: 3vh;
    margin: 5px;
    background-color: rgb(230, 80, 25);
}
.choose {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    
}
.task-item {
    border-radius: 8px;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid;

}

#current_time {
  color:rgb(230, 80, 25);
  font-size: 40px;
  font-weight: 404;
}
