# Виртуальное окружение - НЕ добавлять!
venv/
env/
.venv/

# Байт-код Python - НЕ добавлять!
__pycache__/
*.py[cod]

# Файлы IDE - обычно НЕ добавлять
.vscode/
.idea/

# Файлы с секретами - НИКОГДА не добавлять!
.env
*.key
*.pem